name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

env:
  IMAGE_NAME: agrosolutions-property
  IMAGE_TAG: latest
  DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  cd:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # =========================
      # Docker Hub Login
      # =========================
      - name: Login Docker Hub
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ env.DOCKERHUB_USER }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      # =========================
      # Build & Push Docker Image
      # =========================
      - name: Build Docker Image
        run: |
          docker build -t ${{ env.DOCKERHUB_USER }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} .

      - name: Push Docker Image
        run: |
          docker push ${{ env.DOCKERHUB_USER }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      # =========================
      # Minikube Start
      # =========================
      - name: Start Minikube
        run: |
          $status = minikube status --format "{{.Host}}"
          if ($status -ne "Running") {
            minikube start --driver=docker
          }

      # =========================
      # Apply Kubernetes Manifests
      # =========================
      - name: Deploy to Kubernetes
        run: |
          cd $env:GITHUB_WORKSPACE
          kubectl apply -f k8s/

      # =========================
      # Wait pods
      # =========================
      - name: Wait for pods
        run: |
          kubectl wait --for=condition=available deployment --all --timeout=120s
